<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyClYRavORkEGMEDkosIQN6lXAnRoxS7A4I</string>
	<key>GCM_SENDER_ID</key>
	<string>801599649257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.itirafApp.ios</string>
	<key>PROJECT_ID</key>
	<string>itirafapp-5a404</string>
	<key>STORAGE_BUCKET</key>
	<string>itirafapp-5a404.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>CLIENT_ID</key>
	<string>230027282601-gp12e394fvd630u5o0hp74a5ko0canec.apps.googleusercontent.com</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:801599649257:ios:c978ebe3d4c39cb7794778</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.230027282601-gp12e394fvd630u5o0hp74a5ko0canec</string>
</dict>
</plist>
